#top {
    padding: 15px;
    border-bottom: 1px solid rgb(222, 225, 230);
    margin-bottom: 10px;
    /* height: 30px; */
    /* background-color: rebeccapurple; */
    /* line-height: 30px; */
}

.layui-panel {
    border-radius: 10px;
    max-width: 250px;
    height: 100px;
}

i{
    margin-right: 10px ;
}
.online {
    padding: 8px;
    float: right;
}

.device_name {
    position: absolute;
    bottom: 3px;
    right: 10px;
    /* margin-top: 80px; */
    /* vertical-align: bottom; */
    /* float: right; */
}

.layui-container,
#top {
    min-width: 330px;
}

.img-box {
    position: fixed;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(135, 236, 159);
    /* width: 80px;
    height: 60px; */
}

img {
    position: fixed;
    border-radius: 10px;
    max-width: 80px;
    max-height: 70px;
}