body {
    background-color: rgb(242, 242, 242);
    padding: 15px;
}

.info {
    float: right;
}

#top-text {
    /* background-color: red; */
    /* float: right; */
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    color: #fff;
}

.layui-layout-left {
    left: 0;
}

.layui-card-header {
    padding: 8px 0;
    margin: 0 15px;
    /* font-size: 20px; */
}

.layui-layout-admin .layui-header {
    background: #1E9FFF;
    min-width: 300px;
    /* position: absolute; */
}

#userinfo-body {
    max-width: 500px;
    min-width: 300px;
    margin: 60px auto;
}

.layui-form-item {
    padding: 10px 30px;
    position: relative;
}

.layui-input {
    margin-top: 10px;
}

body .demo-class {
    border-radius: 8px;
}