* {
    padding: 0;
    margin: 0;
}

/* body {
    background-color: rgba(113,156,210,0.5);
    background: url(../images/bg.jpeg);background-size: cover;
} */

/* 
侧边栏
*/
#cbl{
    position: fixed;
    z-index: 999;
}

#btn {
    position: absolute;
    top: 1px;
    left: 200px;
    width: 50px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    border-left: 1px solid rgb(23, 32, 43, 0.2);
    background: rgb(113,156,210);
    color: #fff;
    cursor: pointer;
}

.box {
    float: left;
    position: relative;
    border-radius: 5px;

    z-index: 1;
    left: -200px;
    height: 500px;
    width: 200px;
    margin-left: 0;
    display: block;
    -moz-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
}

aside ul li {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: rgb(113,156,210);

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    list-style-type: none;
    text-align: center;
}

aside ul li a {
    width: 100%;
    height: 100%;
    text-decoration-line: none;
    color: #fff;
    display: block;
}

aside ul li a:hover {
    background: rgb(82,181,129);
}

section {
    width: 100%;
    height: 100%;
    background: #ebe0a2;
    height: 1000px;
    
}

section h1 {
    text-align: left;
    border-bottom: 1px solid #fff;
}

#move{
    -moz-transition: margin-left 1.5s;
    transition: margin-left 1.5s;
}
/* 
end侧边栏
*/


#live{
    color: rgb(82,181,129);
    
}

#tubiao {
    position: absolute;
    padding: 0 2%;
    top: 32px;
    left: 0px;
    width: 96%;
    height: 250px;
    
}

span {
    color: rgb(64, 119, 246);
    font-size: 25px;

}

#top {
    position: relative;
    border-bottom: 1px solid rgb(228, 231, 236);
    margin-top: -32px;
    height: 40px;
    text-align: center; 
}

.top {
    float: left;
    width: 33%;
    border-right: 1px solid rgb(228, 231, 236);
    border-bottom: 1px solid rgb(228, 231, 236);
    text-align: center;
    padding: 10px 0;
}

.tubiaoyou {
    padding-top: 20px;
    
}



.tubiao {
    /* background-color: rgb(135, 166, 206,0.5); */
    box-shadow:2px 2px 5px rgb(185, 188, 190);
    border-radius: 10px;
    margin: 2%;
    float: left;
    width: 45%;
    height: 125px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    background-image: linear-gradient(-20deg,rgb(135, 166, 206),rgb(175, 230, 253));

}

.shebeizhuantai {
    background-color: rgb(245,246,248);
    height: 45px;
    width: 100%;
    text-align: center; 
}



.shuju_ico {
    float: left;
    position: relative;
    top: 5%;
    margin-left: 5px;
    /* margin-right: 3%; */
    width: 48px;
    height: 48px;
}

.kaiguan_ico {
    margin: auto;
    width: 40%;
    height: 80%;
}

.jidianqi {
    float: left;
    width: 34%;
    border-top: 1px solid rgb(228, 231, 236);
    border-left: 1px solid rgb(228, 231, 236);
    border-bottom: 1px solid rgb(228, 231, 236);
    padding: 10px 0;
    margin-left: -4px;
}

#messagebox {
    width:200px;
    height:40px;
    font-size: 30px;
    /* color: rgb(0,0,0); */
    background-color:yellow;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:10px auto;
    display:none;
    z-index:999;
    text-align:center;
    line-height:40px;
}

.photo {
    width: 45%;
    float: left;
    /* position: relative; */
    margin: 0.5em;
    /* background: rgb(255, 254, 237); */
}

.photo_img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow:3px 3px 8px rgb(128, 131, 133);

    height: auto;
}

.photo_text {
    background: rgb(130, 201, 219);
    border-radius: 5px;
    /* margin-top: -4px; */
}

.time {
    padding: 2px 0;
    margin: 0;
    text-align: center;
    color: rgb(250, 248, 248);
}

.end {
    color: rgb(64, 119, 246);
    text-align: center;
    width: 100%;
    float: left;
}

#all_photo{
    float: left;
    position: relative;
    /* margin-top: -500px; */
}


#loading_img {
    width: 106px;
    height: 98px;
    display: none;
    border-radius: 15px;
    background-image: url(../images/loading.gif);
    opacity: 0.6;
    left: 50%;
    top: 40%;
    margin:  -53px 0 0 -54px;
    position: absolute;
}

#loading_text{
    border-radius: 10px;
    background-color: rgb(102,102,102);
    display: none;
    padding: 10px;
    position: fixed;
    font-size: 30px;
    left: 50%;
    top: 40%;
    margin:  -30px 0 0 -70px;
    position: absolute;
    color: rgb(211, 207, 207);
    text-align: center;
}